body {
  background-image: linear-gradient(to left top, violet, orange);
}

h2 {
  text-align: center;
}

/*section > div {
  width: 80%;
  margin: 20px auto;
}*/

#studentForm div {
  padding: 0;
}

dl {
  border: 1px solid gray;
  margin-bottom: 0;
}

dl > li {
  list-style: none;
}

dt, dd {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

dt {
  padding-left: 1em;
}

dd {
  padding-right: 1em;
  text-align: right;
}

dl:first-child a.top,
dl:first-child a.up,
dl:last-child a.down {
  pointer-events: none;
}

ul a {
  display: inline-block;
  width: 4em;
}

.button-group, .edit {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.actions {
  opacity: 0;
  transition: 0.3s;
}

dl:hover .actions {
  opacity: 1;
}

dl:nth-of-type(odd) {
  background-color: White;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

dl.favorite:nth-of-type(odd) {
  background-color: Gold;
}

dl.favorite:nth-of-type(even) {
  background-color: GoldenRod;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }
}
